
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改</title>
    <link type="text/css" rel="stylesheet" href="~/frame/layui2/css/layui.css" media="all" />
    <style>
        .layui-input, .select {
            width: 270px;
        }

        .layui-form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <form class="layui-form" data-stuId=@ViewBag.student.Id>
        <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="Name" value="@ViewBag.student.Name" lay-verify="Name" placeholder="请输入" autocomplete="off" disabled class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">班级</label>
            <div class="layui-input-block select">
                <select name="GradeId" class="selectClass" disabled>
                    @foreach (var item in ViewBag.classes)
                    {
                        <option value=@item.Id selected=@(item.Id==ViewBag.student.GradeId)>@(item.Name)</option>
                    }
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input disabled type="radio" name="Sex" value="男" title="男" checked=@(ViewBag.student.Sex=="男")>
                <input disabled type="radio" name="Sex" value="女" title="女" checked=@(ViewBag.student.Sex=="女")>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证</label>
            <div class="layui-input-block">
                <input disabled type="text" name="CardId" lay-verify="CardId" value="@ViewBag.student.CardId" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话号码</label>
            <div class="layui-input-block">
                <input type="text" disabled name="Phone" lay-verify="Phone" value="@ViewBag.student.Phone" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">家庭地址</label>
            <div class="layui-input-block">
                <input type="text" disabled name="Address" lay-verify="Address" value="@ViewBag.student.Address" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">入学时间</label>
            <div class="layui-input-block">
                <input type="text" disabled name="EnrollmentDate" lay-verify="EnrollmentDate" value="@ViewBag.student.EnrollmentDate" placeholder="请输入" autocomplete="off" class="layui-input enrollmentDate">
            </div>
        </div>

        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </form>
    <script src="~/frame/layui2/layui.js"></script>
    <script>
        layui.use(['form', 'laydate', 'layer'], function () {
            var laydate = layui.laydate

            laydate.render({
                elem: ".enrollmentDate"
            });

        });
    </script>
</body>
</html>
